/* responsive css */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
    .footer-section
    {
      text-align: center;
    }
    .footer-logo
    {
      margin-left:0px;
    }
    .section-main-para
    {
      padding: 0 0 !important;
      text-align: center;
      font-size: 14px;
    }
    .carousel-img .slider-img
    {
      min-height: 350px;
    }
    .quad-header
    {
      height: 350px;
    }
    .quad-header .carousel-caption.d-none
    {
      display: block !important;
    }
    .quad-layout .carousel-caption h3
    {
      font-size: 24px !important;
      margin: 0 50px;
    }
    
    .quad-layout .carousel-caption h3
    {
      margin: 0 50px;
    }
    .quad-layout .carousel-caption p
    {
      width: 75%;
      margin: 0 50px;
      font-size:14px !important;
      line-height: 25px;
    }
    .quad-layout .carousel-control-next-icon, .quad-layout .carousel-control-prev-icon
    {
      width:20px;
      height: 20px;
    }
    .carousel-control-next, .carousel-control-prev
    {
      top:21%;
    }
    .quad-layout .navbar-brand
    {
      margin-left:-60px;
    }
    .quad-layout .carousel-control-next
    { 
      right: 13px;
    }
    .quad-layout .carousel-control-prev 
    {
      left: 13px;
    }
    .main-menu .nav-item .nav-link
    {
      text-align: center;
      padding-left:0px;
    }
    .section-head-1
    {
      font-size: 25px;
    }
    .section-head-small
    {
      font-size:14px;
      margin-top: 60px;
    }
    .hidien
  {
      visibility: hidden !important;
      display: none !important;
  }
  .section-top-head
  {
     font-size:20px;
  }
  .mb-r
  {
    margin-left:0%;
  }
  .footer-sec-head
  {
    font-size:22px;
  }
  .footer-sec-para
  {
    font-size: 14px;
  }
  .content-headtext h2
  {
    font-size:22px;
  }
  p
  {
     font-size:14px;
  }
  .inner-content
  {
    padding: 10px;
  }
  .page-header-content
  {
    left: 30%;
  }
  .top-sub-text
  {
    font-size:18px;
    padding: 30px 10px;
    margin:0 10px;
  }
  .primary-list
  {
    margin-left:20px;
  }
  .section-main-heading
  {
    font-size:18px;
    line-height: 25px;
  }
  .heightlighted-text h2
  {
    font-size:18px;
    margin:0 5px;
    line-height: 35px;
  }
  .odc
  {
     margin: 50px 20px;
  }
  h2.padding-10
    {
      font-size:22px;
    }
    .sub-content-head
    {
      font-size:18px;
    }
    #contact-section
    {
      text-align: center;
    }
    .address
    {
      margin-top:10px;
    }
    #contact-section p
    {
      line-height: 25px;
    }
    .padding-10
    {
      padding: 10px 10px;
  }
  
  .check-list, .primary-list
  {
    font-size:14px;
  }
  
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .quad-header .navbar
    {
      padding: 8px 5px;
     }
     .quad-layout .main-menu .nav-item a
    {
      font-size:12px;
    }
    .quad-layout .navbar-expand-md .navbar-collapse
    {
      margin-right:26px;
    }
    .carousel-img .slider-img
    {
      min-height: 380px;
    }
    .quad-header
    {
      height:380px;
    }
    .quad-layout .carousel-caption h3
    {
      font-size:35px;
    }
    .quad-layout .carousel-caption p
    {
      font-size:16px;
    }
    .quad-layout .section-head-small
    {
      margin-top: 30px;
    }
    .jobs-list .card-title, .services .card-title
    {
      font-size: 14px;
    }
    .jobs-list .card-text, .services .card-text
    {
      font-size: 12px;
    }
    .quad-layout .btn-outline-primary
    {
      font-size:12px;
    }
    .quad-layout .btn-outline-primary
    {
    
      width: auto; 
    height: 30px;
    line-height: 15px;
    /* margin:0px; */
    }
    .section-main-para
    {
      padding: 0;
    }
    .primary-list
    {
      margin-left:20px;
    }
    .section-main-para
    {
      font-size:20px;
    }
    .section-top-head
    {
      font-size:30px;
    }
    .section-top-head
    {
      padding:30px 0;
    }
    .footer-address p
    {
      font-size: 10px;
    line-height: 15px;
    }
    .page-header-content
    {
      top: 20%;
    }
    .top-sub-text
    {
      margin: 0 0px;
    }
    .sub-content-head
    {
      font-size:14px;
    }
    .data-text
    {
        font-size:12px;
    }
    .jobs-list a
    {
      height: 30px;
      line-height: 15px;
      margin-bottom:10px;
    }
    .jobs-list .readmore
    {
      width:100px;
    }
    .search-job
    {
      padding: 30px 5px;
    }
    .mt-10
    {
      margin-top:5px;
    }
    }